{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_row(form.name) }}
    
    {# Affiche le champ de téléchargement de l'image #}
    {{ form_row(form.imageFile) }}
    
    {# Si une image existe déjà, l'afficher #}
    {% if form.vars.value.image %}
        <div>
            <p>Current Image:</p>
            <img src="{{ asset('uploads/services/' ~ form.vars.value.image) }}" alt="{{ form.vars.value.name }}" style="max-width: 200px;">
        </div>
    {% endif %}
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
