{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <h1>Edit Service</h1>

    {# Afficher l'image actuelle, si elle existe #}
    {% if service.image %}
        <div>
            <p>Current Image:</p>
            <img src="{{ asset('uploads/services/' ~ service.image) }}" alt="{{ service.name }}" style="max-width: 200px;">
        </div>
    {% endif %}

    {# Inclure le formulaire avec le bouton d'enregistrement #}
    {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_service_index') }}">back to list</a>

    {# Formulaire de suppression #}
    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
