{% extends 'base.html.twig' %}

{% block title %}VeterinaryReport index{% endblock %}

{% block body %}
    <h1>VeterinaryReport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>State</th>
                <th>Food</th>
                <th>FoodQuantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veterinary_report in veterinary_reports %}
            <tr>
                <td>{{ veterinary_report.id }}</td>
                <td>{{ veterinary_report.date ? veterinary_report.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ veterinary_report.state }}</td>
                <td>{{ veterinary_report.food }}</td>
                <td>{{ veterinary_report.foodQuantity }}</td>
                <td>
                    <a href="{{ path('app_veterinary_report_show', {'id': veterinary_report.id}) }}">show</a>
                    <a href="{{ path('app_veterinary_report_edit', {'id': veterinary_report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinary_report_new') }}">Create new</a>
{% endblock %}
