{% extends 'base.html.twig' %}

{% block title %}VeterinaryReport{% endblock %}

{% block body %}
    <h1>VeterinaryReport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ veterinary_report.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ veterinary_report.date ? veterinary_report.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ veterinary_report.state }}</td>
            </tr>
            <tr>
                <th>Food</th>
                <td>{{ veterinary_report.food }}</td>
            </tr>
            <tr>
                <th>FoodQuantity</th>
                <td>{{ veterinary_report.foodQuantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_veterinary_report_index') }}">back to list</a>

    <a href="{{ path('app_veterinary_report_edit', {'id': veterinary_report.id}) }}">edit</a>

    {{ include('veterinary_report/_delete_form.html.twig') }}
{% endblock %}
